<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

</head>

<body ng-app="fireBaseApp" ng-controller="registerCtrl">
    <h1>Register here</h1>
    <input type="email" id="userName" ng-model="userName" required><br>
    <input type="password" id="userPassword" ng-model="userPassword" required><br>
    <button id="singupButton" ng-click="signUp()"> Sign up</button><br>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script src="app.js"></script>
   <!-- <script src="register.js"></script>-->
    <script src="js/angular/angular.min.js"></script>
    <script src="main.js"></script>
   
</body>

</html>
