<!DOCTYPE html>
<html lang="en">

<head>
    <title>Submit your details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!--    Font Family     -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="css/userindex.css">

</head>

<body ng-app="fireBaseApp" ng-controller="userinfo">

    <div class="main-card mdl-card  mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" >Submit Your Info</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <ng-form name="form">
                <div class="row">
                    <div class="col-md-4">
                        <label for="first_name">First Name</label>
                    </div>

                    <div class="col-md-4">
                        <input class="form-control" type="text" name="first_name" ng-pattern="/^[a-zA-Z]*$/" ng-required="true" ng-model="user.first_name">
                    </div>

                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.first_name.$invalid">Please enter a valid first name. Characters only without spaces </p></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="middle_name">Middle Name</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="middle_name" ng-pattern="/^[a-zA-Z]*$/" ng-required="true" ng-model="user.middle_name">
                    </div>
                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.middle_name.$invalid">Please enter a valid middle name. Characters only without spaces </p></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="last_name">Last Name</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="last_name" ng-pattern="/^[a-zA-Z]*$/" ng-required="true" ng-model="user.last_name">
                    </div>
                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.last_name.$invalid">Please enter a valid middle name. Characters only without spaces </p></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="gender_optradio">Gender</label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="gender_optradio" ng-model="user.gender_optradio" value="Male" ng-required="true">Male</label>
                        <label class="radio-inline">
                            <input type="radio" name="gender_optradio" ng-model="user.gender_optradio" value="Female" ng-required="true">Female</label>
                    </div>
                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.gender_optradio.$invalid">Please select a valid gender. </p></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="marital_optradio">Marital Status</label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="marital_optradio" ng-model="user.marital_optradio" value="Married" ng-required="true">Married</label>
                        <label class="radio-inline">
                            <input type="radio" name="marital_optradio" ng-model="user.marital_optradio" value="Single" ng-required="true">Single</label>
                    </div>
                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.marital_optradio.$invalid">Please select a valid Marital Status. </p></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="pan_card">PAN card</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="pan_card" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/" maxlength="12" ng-required="true" ng-model="user.pan_card">
                    </div>
                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.pan_card.$invalid">Please enter a valid PAN Card. </p></div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <label for="uid">UID</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="number" ng-maxlength="12" name="uid" maxlength="12" ng-required="true" ng-model="user.uid">
                    </div>
                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.uid.$invalid">Please enter a valid UID. </p></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="dob">DOB</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="dob" id="dob" ng-required="true" ng-model="user.dob">
                    </div>
                                            <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.dob.$invalid">Please enter a valid DOB. </p></div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="profilePhoto">Profile photo</label>
                    </div>
                    <div class="col-md-4">
                        <!--                        <progress value="0" max="100" id="profilePhotoUploaderProgress">0%</progress>-->
                        <input type="file" name="profilePhoto" ngf-select accept="image/*" ngf-max-size="1MB" ng-required="true" ng-model="user.profilePhoto">
                    </div>

                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.profilePhoto.$invalid">Please upload file less than 1MB. </p></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="panCardPhoto">PAN card photo</label>
                    </div>
                    <div class="col-md-4">
                        <!--                        <progress value="0" max="100" id="panCardPhotoUploaderProgress">0%</progress>-->
                        <input type="file" ngf-select accept="image/*" ngf-max-size="1MB" ng-required="true" name="panCardPhoto" ng-required="true" ng-model="user.panCardPhoto">
                    </div>

                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.panCardPhoto.$invalid">Please upload file less than 1MB. </p></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="dropdownForResidence">Residence Type</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="dropdownForResidence" ng-required="true" ng-model="user.dropdownForResidence">
                            <option></option>
                            <option value="self owned">self owned</option>
                            <option value="owned by parents">owned by parents</option>
                            <option value="rented">rented</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.dropdownForResidence.$invalid">Please enter a valid Residence Type. </p></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="dropdownForRelation">Relationship with co applicant</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="dropdownForRelation" ng-required="true" ng-model="user.dropdownForRelation">
                            <option></option>
                            <option value="spouse">spouse</option>
                            <option value="son">son</option>
                            <option value="daughter">daughter</option>
                            <option value="father">father</option>
                            <option value="mother">mother</option>
                        </select>
                    </div>

                    <div class="col-md-4"><p class="error_text" ng-if="showErrors && form.dropdownForRelation.$invalid">Please enter a valid Relationship with co applicant.</p></div>

                </div>

                <div class="row">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" id="submitData" ng-click="submit(form)">Submit</button>
                </div>

            </ng-form>

        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="signOutButton">
                Sign out
            </button>
        </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#dob").datepicker();
        });

    </script>

    <script src="js/custom_ang/app.js"></script>
    <!--    <script src="userindex.js"></script>-->
    <script src="js/custom_ang/userinfo.js"></script>
    <script src="js/file_upload/ng-file-upload-shim.js"></script>
    <script src="js/file_upload/ng-file-upload.js"></script>


</body>

</html>
